# Port for the Python Flask microservice
PORT=5001

# DeepFace configuration models
# Face recognition model (Facenet, Facenet512, VGG-Face, OpenFace, DeepFace, DeepID, ArcFace, Dlib, SFace)
FACE_MODEL=Facenet512

# Bounding box detector backend (opencv, ssd, dlib, mtcnn, retinaface, mediapipe, yolo, pixellib)
DETECTOR_BACKEND=retinaface

# Vector distance metrics for facial similarity comparison (cosine, euclidean, euclidean_l2)
DISTANCE_METRIC=cosine

# Log level
LOG_LEVEL=INFO

# Detection and quality settings
DETECTION_SIZE=1024
MIN_DETECTION_SCORE=0.40
MIN_FACE_SIZE=35
